*, *:before, *:after {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}


html {
    font-size: 20px;
    font-family: 'Noto Sans TC', sans-serif;
    line-height: 165%;
    letter-spacing: 1px;
}



#petit-intro .fp-tableCell {
    vertical-align: top;
}


.header {
    background: #f4960f;
    padding: 10px 30px;
    -webkit-box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
}

.myself {
    width: 150px;
    height: 150px;
    overflow: hidden;
    border-radius: 50%;
    -webkit-box-shadow: 0px 5px 10px rgba(0,0,0,0.2);
    box-shadow: 0px 5px 10px rgba(0,0,0,0.2);
}

.myself img {
    width: 100%;
    height: 100%;
}

.intro {
    width: 80vw;
    margin: 140px auto 0;
    padding-bottom: 100px;
}

.intro a {
    text-decoration: none;
    color: #000;
    border-bottom: 2px solid transparent;
}

.intro a:hover {
    border-bottom: 2px solid #000;
}


.introduction {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-around;
    margin-bottom: 120px;
    font-weight: 500;
    font-size: 110%;
    line-height: 180%;
}

.introduction div {
    margin-left: 30px;
}

.introduction div:first-child {
    margin-left: 0; 
}

.introduction i {
    font-size: 110%;
    padding-right: 10px;
}

.search {
    position: relative;
    width: 60%;
    margin: 0 auto;
}

.search a {
    text-decoration: none;
    color: #454545;
}

input {
    outline: none;
    border: 1px solid #f4960f;
    padding: 10px 15px 10px 130px;
    border-radius: 3px;
	border-radius: 3px;
    width: 100%;
    -webkit-box-shadow: 5px 5px 10px rgba(0,0,0,0.2);
    box-shadow: 5px 5px 10px rgba(0,0,0,0.2);
}

.rocket {
    position: absolute;
    top: 13px; right: 15px;
}

.input {
    position: absolute;
    background: #f4960f;
    padding: 6px 15px;
    display: inline-block;
    border-top-left-radius: 3px;
	border-bottom-left-radius: 3px;
    color: rgba(255, 255, 255, 0.79);
}




.wrapper {
    width: 70vw;
    margin: 0 auto;
    font-family: 'Noto Serif TC', serif;
    font-weight: 500;
    padding: 50px 0 10px 0;
}

.wrapper h2 {
    margin: 0 0 0px 30px;
    font-family: 'Noto Sans TC', sans-serif;
}

.wrapper p {
    width: 10px;
    height: 10px;
    overflow: hidden;
    border: 2px solid #000;
    border-radius: 50%;
    margin-top: 10px;
}

.line {
    width: 80%;
    border-top: 2px solid #000;
    margin: -5px 0 70px 10px;
}


#portfolio h2 {
    padding-left: 50px;
    padding-bottom: 15px;
    margin-top: 50px;
}

.gradient-line {
    width: 500px;
    height: 15px;
    background: -webkit-gradient(linear, left top, right top, from(#5c7658), to(transparent));
    background: linear-gradient(to right, #5c7658, transparent);
}

.gradient-line-2 {
    margin-top: 6px;
    width: 300px;
    height: 10px;
    background: -webkit-gradient(linear, left top, right top, from(#5c7658), to(transparent));
    background: linear-gradient(to right, #5c7658, transparent);
}

#portfolio .wrapper {
    font-size: 90%;
    margin-bottom: 50px;
}

.content {
    font-family: 'Noto Sans TC', sans-serif;
    font-weight: 400;
    margin-bottom: 40px;
    text-align: left;
    font-size: 90%;
}

.content span {
    font-size: 80%;
    color: #454545;
}

.practice {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.preview {
    max-width: 400px;
    overflow: hidden;
} 

.preview:first-child {
    margin-right: 20px;
}

.wrapper img {
    width: 100%;
    max-width: 400px;
    -webkit-transition: 0.4s;
    transition: 0.4s;
    vertical-align: bottom;
}

.wrapper img:hover {
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
}

.description {
    margin-top: 30px;
    font-family: 'Noto Sans TC', sans-serif;
    text-align: center;
}

#totop {
    position: fixed;
    bottom: 2%;
    right: 2%;
}

#totop i {
    font-size: 150%;
}






@media only screen and (max-width: 768px) {
    html {
        font-size: 14px;    
    }
    
    h1 {
        padding: 0;
        margin: 0;
    }
    
    .header {
        padding: 15px 30px;
    }
    
    .intro {
        margin-top: 80px;
    }
    
    .introduction {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        margin: 0 auto;
    }
    
    .introduction div {
    }

    .introduction div:first-child {
        width: 120px;
        height: 120px;
    }
    
    .search {
        position: relative;
        width: 60%;
        margin: 80px auto 0 auto;
    }
    
    .input {
        padding: 7px 15px;
    }
    
    input {
        padding: 10px 15px 10px 110px;
    }
}